h1 {
  font-family: "Gotham Book Regular";
  font-size: 60px;
}

h2 {
  font-family: "Gotham Extra Light";
  font-size: 45px;
}

.title {
  text-align: center;
  color: whitesmoke;
  margin-top: 90px;
}

.content {
  background-color: #C56C86;
  color: whitesmoke;

  margin: 47px;
  margin-bottom: 40px;
  border-radius: 15px;
  padding: 50px;
}

.calculate-button {
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-color: #725A7A;
  height: 50px;
  width:300px;
  margin-top: 0;
  margin-bottom: 10px;
  border-radius: 15px;
  color: whitesmoke;
  font-family: "Gotham Book Regular";
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  border:none;
  outline: 0;
  transition: .2s;
}

.calculate-button:before {
  transform: scale(1.2);
  box-shadow: 0 0 15px #FF7582;
  filter: blur(3px);
  transition: .2s;
  transform: scale(.9);
  z-index: -1;
}

.calculate-button:hover:before {
  transform: scale(1.2);
  box-shadow: 0 0 15px #FF7582;
  filter: blur(3px);
}

.calculate-button:hover {
  cursor: pointer;
  background-color: #725A7A;
  box-shadow: 0 0 15px #FF7582;
  transform: scale(1.05);
}

.footer {
  align-items: center;


  font-family: "Gotham Extra Light";
  font-size: 15px;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3a5070;
  color: whitesmoke;
  text-align: center;
}
a:visited {
  color: #FF7582;
}
.table {
  margin-top: 25px;
  font-family: "Gotham Book Regular";
  font-size: 20px;
  background: none;
}
.form-control:focus {
  caret-color: #725A7A;
  border-color: #FF7582;
  box-shadow: inset 0 100px 100px rgba(0, 0, 0, 0.075), 0 0 15px #FF7582;
}
.loading {
  color: #FF7582;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.node-button {
  background-color: #725A7A;
  height: 30px;
  width: 100px;
  margin-top: 0;
  border-radius: 15px;
  color: whitesmoke;
  font-family: "Gotham Book Regular";
  font-weight: bolder;
  font-size: 10px;
  text-align: center;
  border:none;
  outline: 0;
  transition: .2s;
}

/*background-color: #2a3950*/


/*color: #FF7582*/
/*color: #C56C86*/
/*color: #725A7A*/
/*color: #355C7D*/
