<div class="container">
  <div class="title" role="banner">
    <h1>Badania Operacyjne i Logistyka</h1>
    <h2>Zagadnienie pośrednika</h2>
  </div>

  <div class="content" role="main">
    <span></span>
  </div>

  <div class="calculate-button">
    <div class="calculate-text">Calculate!</div>
  </div>

  <!-- Footer -->
  <div class="footer">
    <p>2020 © Copyrights - Mariusz Dadun, Tomasz Dudek
      <a href="https://github.com/dudek-tomasz/university-boil-project1" target="_blank" rel="noopener"> |Kod
        źródłowy
        aplikacji|
      </a>
    </p>
  </div>
</div>
<router-outlet></router-outlet>
