<div class="container">
  <div *ngIf="!obliczone; else fadeOutTitle" class="title animate__animated animate__fadeIn" role="banner">
    <h1>Badania Operacyjne i Logistyka</h1>
  </div>
  <ng-template #fadeOutTitle>
    <div class="title animate__animated animate__fadeOutUp">
      <h1>Badania Operacyjne i Logistyka</h1>
    </div>
  </ng-template>

  <div *ngIf="!obliczone" class="content" role="main">
    <h3 class="animate__animated animate__fadeIn">Wypełnij tabele</h3>
    <button class="node-button" type="submit" (click)="addNode()">
      <div class="calculate-text">Dodaj node!</div>
    </button>
    <button class="node-button" type="submit" (click)="deleteNode()">
      <div class="calculate-text">Usun node!</div>
    </button>
    <div>
      <table class="table table-bordered table-responsive-md animate__animated animate__fadeIn" style="font-size: 15px">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">In</th>
          <th scope="col">Out</th>
        </tr>
        <tr *ngFor="let node of dataNodesArray">
          <th scope="col" style="text-align: right">
            <input type="string" class="form-control" placeholder="" [(ngModel)]="node.name" required>
          </th>
          <th scope="col" style="text-align: right">
            <input type="number" class="form-control" placeholder="" [(ngModel)]="node.in" required>
          </th>
          <th scope="col" style="text-align: right">
            <input type="number" class="form-control" placeholder="" [(ngModel)]="node.out" required>
          </th>
        </tr>
      </table>

      <button class="node-button" type="submit" (click)="addArrow()">
        <div class="calculate-text">Dodaj pol!</div>
      </button>
      <button class="node-button" type="submit" (click)="deleteArrow()">
        <div class="calculate-text">Usun pol!</div>
      </button>
      <div>
        <table class="table table-bordered table-responsive-md animate__animated animate__fadeIn" style="font-size: 15px">
          <tr>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Cost</th>
            <th scope="col">Min</th>
            <th scope="col">Max</th>
          </tr>
          <tr *ngFor="let arrow of dataArrowsArray">
            <th scope="col" style="text-align: right">
              <input type="string" class="form-control" placeholder="" [(ngModel)]="arrow.from" required>
            </th>
            <th scope="col" style="text-align: right">
              <input type="string" class="form-control" placeholder="" [(ngModel)]="arrow.to" required>
            </th>
            <th scope="col" style="text-align: right">
              <input type="number" class="form-control" placeholder="" [(ngModel)]="arrow.cost" required>
            </th>
            <th scope="col" style="text-align: right">
              <input type="number" class="form-control" placeholder="" [(ngModel)]="arrow.min" required>
            </th>
            <th scope="col" style="text-align: right">
              <input type="number" class="form-control" placeholder="" [(ngModel)]="arrow.max" required>
            </th>
          </tr>
        </table>
      </div>
  </div>

  <div *ngIf="obliczone&&!done" class="loading animate__animated animate__fadeIn animate__slow m-auto">
    <i class="fas fa-spinner fa-9x fa-spin"></i>
  </div>
  <div *ngIf="showWarning" style="color:red; position: absolute; text-align: center;">
    Dane są niekompletne
  </div>
  <button *ngIf="!obliczone && !done" class="calculate-button" type="submit" (click)="calculate()">
    <div class="calculate-text">Oblicz!</div>
  </button>
  <!--  <ng-template #fadeOutButton>-->
  <!--    <div class="calculate-button animate__animated animate__fadeOutDown">-->
  <!--      <div class="calculate-text">Oblicz!</div>-->
  <!--    </div>-->
  <!--  </ng-template>-->
<!--  <app-result *ngIf="obliczone && done" [result]="wynik2" [oldData]="dane2"></app-result>-->
</div>

<!-- Footer -->
<div class="footer">
  <p>2020 © Copyrights - Mariusz Dadun, Tomasz Dudek
    <a href="https://github.com/dudek-tomasz/university-boil-project1" target="_blank" rel="noopener"> |Kod
      źródłowy
      aplikacji|
    </a>
  </p>
</div>

